.contactUsImage {
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    margin: 20px 15%;
    justify-content: space-between;
}
.heading {
    margin-top: 160px;
}
.readMoreButton {
    margin-bottom: 20px;
    padding: 5px;
    font-family: "Nunito";
    border-radius: 15%;
}
.readMoreButton:hover {
    background-color: lightblue;
}  
span {
    margin-top: 100px;
    text-align: center;
}
.contact {
    text-align: center;
    margin-left: 50px;
}
.side {
    align-content: right;

}
.p {
    margin-left: 20px;
    text-align: center;
}
